/* style.css  */
/* Reset básico */
*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

* {
  box-sizing: border-box;
}

button { width: 100%; padding: 20px;}
table, tr, td { 
  border: 1px solid; 
  font: verdana;
  font-size: 10px;
  font-family: Arial, sans-serif; 
  font-size: 27px; 
  padding: 10px;
}
input, select { 
  color: black;
  width: 11ch;
  font-family: Arial, sans-serif; 
  font-style: bold;  
  font-size: 60px; 
  background-color: yellowgreen;
  text-align: right;
}

fieldset#SETUP, fieldset#SHARE {
  border: 1px solid;
  width: 70%; 
  padding: 20px;
}

 fieldset > form > input , fieldset > form > select {
  width: 70%;
 }

.container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.container div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: left;
}

        /* Estilos básicos para o footer */
        footer {
            background-color: #f2f2f2;
            padding: 20px;
            text-align: center;
            border-top: 1px solid #ddd;
        }
        .social-links {
            margin-top: 10px;
        }
        .social-links a {
            margin: 0 10px;
            text-decoration: none;
            color: #333;
            font-size: 24px; /* Tamanho dos ícones */
        }
        /* Para ícones, você pode usar Font Awesome ou imagens */
        .social-links img {
            width: 30px;
            height: 30px;
            vertical-align: middle;
            border: 0;
        }

.fa-user {
  color: #333;
  font-size: 24px;
  transition: color 0.3s ease; /* Efeito hover */
}
.fa-user:hover {
  color: #007bff;
}


.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-item {
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 30px;
  text-align: left;
  width: 80%;
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }
}
